@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 50%;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/img/bg.jpg");
  background-size: 170%;
  background-position: center;
  min-height: 100dvh;
}

.active {
  background-color: #7b27ca;
  border-radius: 5px;
  box-shadow: 0 0.5rem 3rem 0.5rem #7b27ca40;
}
.spinner {
  background: conic-gradient(#0000 10%, #ececec);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
}
